<html>
   <head>
   		<link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
   		<meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <form class="form-control"class="form-group" action = "http://localhost:5000/result" method = "POST">
         <p>Name <input class="form-control" type = "text" name = "Name" /></p>
         <p>Email <input class="form-control" type = "text" name = "Email" /></p>
         <p>Age <input class="form-control" type = "number" name = "Age" /></p>
         <p><input class="btn btn-success" type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>